{% extends 'base.jinja' %}

{% block title %}{{ _("Confirm") }}{% endblock title %}
{% block head %}
    <link href="{{ static("orders/css/select2.min.css") }}" rel="stylesheet" />
    <script src="{{ static("orders/js/select2.min.js") }}"></script>
    <script src="{{ static("orders/js/confirm_delivery.js") }}"></script>

    {% for path in delivery_js %}
        {% if path != "" %}
            <script src="{{ static(path) }}"></script>
        {% endif %}
    {% endfor %}

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row mb-5"></div>

          {% for product, count in cart.items()  %}
            <div class="parent" product="{{ product.slug }}" price="{{ product.price }}">
                <hr>
                <div class="row">
                    <div class="col-3">
                        <img style="max-width: 100px; height: auto" src="{{ product.get_image() }}" alt="">
                    </div>
                    <div class="col-6">
                        <a href="{{ product.get_absolute_url() }}">{{ product.name }}</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-7"></div>
                    <div class="col-2">
                        <h5>{{ count }} x {{ product.price }} {{ currency_symbol }} |</h5>
                    </div>
                    <div class="col-1">
                        <h5 class="price-field">{{ product.price * count }}</h5>
                    </div>
                    <div class="col-1">
                        <h5>{{ currency_symbol }}</h5>
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}

        <div class="row">

            <div class="col-4">
                <h3>{{ _("Total price") }}</h3>
            </div>
            <div class="col-3">
                <h3 id="totalPrice">{{ totalPrice }}</h3>
            </div>
            <div class="col-1">
                 <h3>{{ currency_symbol }}</h3>
            </div>
        </div>
        <div class="row">
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p() }}
                <div id="delivery-options"></div>
                <button class="btn btn-primary">{{ _("Submit") }}</button>
            </form>

        </div>
    </div>


{% endblock body %}