{% extends 'base.jinja' %}

{% block title %}{{ _("Order") }}{% endblock title %}
{% block body %}

    <div class="container">
        <div class="row mb-5"></div>
        <center>
            <h4>{{ _("Order accepted") }}</h4>
            {% if track %}
                <h5>Track {{ track }}</h5>
            {% endif %}
        </center>



    </div>


{% endblock body %}